.AnchorLink{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    padding-bottom: 5px;
    font-weight: 500px
}

.AnchorLink:hover{
    opacity: 0.8;;
}
.AnchorLink:visited{
    border-bottom: 3px solid blue;
    /* text-decoration: underline blue; */
}
.AnchorLink:focus{
    border-bottom: 3px solid blue;   
}