.main__container{
    background-color: #013444;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.main__container__header{
    margin: 0 50px;
    padding: 19px 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__image{
    height: 35px;
    vertical-align: middle;
}
.header__lists{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.header__list{
    margin: 0 1.5rem
}

.toggle__button {
    width: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    background-color: black;
    display: none;
}

.toggle__button:focus {
    outline: none;
}

.toggle__button__bar {
    /* width: 100%; */
    background: white;
    margin: 0.4rem 0;
    color: white !important;
    display: block;
    height: 2px;
    border-radius: 1px
}

.mobile__nav{
    display: block;
    height: auto;
    box-shadow: none;
    background: rgba(0,0,0,.90);
    width: 100%;
    position: absolute;
    /* margin: 30px */
}

.mobile__nav__lists{
    margin: 30px 0;
    list-style: none;
    width: 100%;
}
.mobile__nav__list{
    margin: 20px 0;
    /* text-decoration: underline blanchedalmond ; */
    width: 100%
}
.mobile__nav__list a {
    width: 100%;
    margin-right: 20px;
    display: block
}
.mobile__nav__list a:hover{
    opacity: .8
}
.mobile__nav__list a:focus {
    border-bottom: 3px solid blue;   
}
.close__nav{
    display: none;
}
@media (max-width: 977px){
    .toggle__button{
        display: block
    }
    .main__anchor{
        display: none
    }
}