.main__footer{
    background-color: white;
    top: 0;
    z-index : 0;
    position: fixed;
    padding-top: 40px;
    margin-bottom: 70px;
    width: 100%;
    bottom: 0;
    visibility: visible;
}
.footer__input{
    width: 100%;
    margin: 70px auto;
}
.footer__input__search{
    width: 100%;
    text-align: center
}
.footer__news{
    text-align: center;
    display: none;
}
.footer__title{
    color: #2992d0
}
.footer__subtitle{
    color: black !important;
    width: 50%;
    margin: 25px auto;
    text-align: left
}
.footer__input input{
    width: 30%;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px
}
.footer__input input:focus{
    outline: 0
}
.footer__input button{
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    background: #2992d0;
    color: #fff;
    border: none;
    padding: 18px  15px;
    margin-left: 10px;
    cursor: pointer;
}
.footer__subtitle{
    color: white !important
}

.footer__section{
    background-color: #013444;
    padding: 0 0 10px 0;
    position: relative;
}

.footer__row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footer__col{
    margin-top: 40px;
    color: white;
    /* opacity: .7 */
}
.footer__col__1{
   left : 0;
    width: 40%;
   height: 220px;
   display: inline-block;
   flex-shrink: 4
}
.footer__col img{
    height:35px
}
.footer__text, .footer__text__1{
    color: white;
    opacity: 1 !important
}
.footer__text__1{
    font-style: italic
}

.footer__col__2{
    vertical-align:top;
    width: 50%;
    flex-shrink:1;
}
.footer__address{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.footer__icons__section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0
}
.footer__icons__mail{
    display: flex;
    align-items: baseline;
    height: 100%
}

.footer__icons__mail span{
    margin-left: 10px;
}

.footer__icons__mail a {
    color: white;
    text-decoration: none;
}
.footer__icons{
    display: flex;
    justify-content: flex-end;
}

.footer__icon, .footer__envelope{
    margin: 0 1.2rem;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%
}

.footer__icon a{
    color: white;
    text-decoration: none
}

@media (max-width: 1108px){

.main__footer{
    position: sticky !important;
    padding-top: 0;
    margin-bottom:0;
    }

.footer__news{
    display: block;
    }
/* 
.footer__input{
    margin: 0 auto
    } */
}