.main__footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index : 0;
    position: fixed;
    /* padding-top: 90px;
    margin-top: 100px; */
    width: 100%;
    bottom: 0;
    visibility: visible;
}

.footer__input__search{
    width: 100%;
    text-align: center
}
.footer__news{
    text-align: center;
    display: none;
}
.footer__title{
    color: #2992d0
}
.footer__subtitle{
    color: black !important;
    width: 50%;
    margin: 25px auto;
    text-align: left
}
.footer__input{
    width: 100%;
    margin: 70px auto;
}

.footer__input input{
    width: 30%;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px;
}
.footer__input input:focus{
    outline: 0
}
.footer__input button{
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    background: #2992d0;
    color: #fff;
    border: none;
    padding: 18px  15px;
    margin-left: 10px;
    cursor: pointer;
}


.footer__section{
    width: 100%;
    background-color: #013444;
}
.footer__container{
    margin:  0 auto;
    padding-top: 80px;
    width: 90%
}

.footer__row{
    /* margin: 0 60px; */
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 20px;
    font-size:13px
}

.footer__col{
    color: white; 
}
.footer__col img{
    height:35px
}
.footer__text, .footer__text__1{
    color: white;
    opacity: 1 !important;
    font-size:12px
}
.footer__text__1{
    font-style: italic;
}

.footer__address{
    display: grid;
    grid-template-columns: 50% 2fr;
    grid-gap: 5px;
    margin: 0 40px
}
.addrress__subtitle{
    width: 100%;
    text-align: center;
    font-size:19px;
    color: white
}

iframe{
    width: 100%
}

.footer__icons__section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0
}
.footer__icons__mail{
    display: flex;
    align-items: baseline;
    height: 100%
}

.footer__icons__mail span{
    margin-left: -13px;
}

.footer__icons__mail a {
    color: white;
    text-decoration: none;
}
.footer__icons{
    display: flex;
    justify-content: flex-end;
}

.footer__icon, .footer__envelope{
    margin: 0 1.2rem;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%
}

.footer__icon a{
    color: white;
    text-decoration: none
}

a:focus{
    outline: none;
    border: none;
}

@media (max-width: 1108px){

.main__footer{
    position: static !important;
    padding-top: 0;
    margin-bottom:0;
    }

.footer__news{
    display: block;
    }

}

@media (max-width: 977px){
    .footer__address{
        display: block
    }
}

@media (max-width: 765px){
    .footer__input input{
        display: block;
        width: 70%;
        margin-bottom: 10px
    }
    .footer__container{
        width: 100%
    }
    .footer__row{
        display: block;
    }
    .footer__col{
        display: block;
        width: 100%;
        text-align: center;
        /* margin: 2rem 0 */
    }
    .footer__col__1{
        margin: 0 0 60px 0
    }

    .footer__text, .footer__text__1, .footer__subtitle{
        text-align: center;
        width: 95%;
        margin:0 auto 20px  auto
    }
    .footer__address{
        display: block;
    }
    .footer__icons__section{
        display: block;
        text-align: center;
        margin-top: 80px
    }
    .footer__icons__mail{
        margin:  40px auto;
        width: 35%
    }
    .footer__envelope{
        display: inline-block
    }
    .footer__icons{
        margin: 20px auto;
        justify-content: center
    }
    .footer__icon{
        display: inline-block
    }
}

